@import "tailwindcss";

@theme {
    --font-*: initial;
    --font-sans:
        DM Sans, PingFang TC, Noto Sans TC, Segoe UI, Helvetica, sans-serif, Apple Color Emoji,
        Segoe UI Emoji, Segoe UI Symbol;

    --color-main-orange: #ff6a21;
    --color-main-yellow: #faa927;
    --color-main-blue: #0552a4;
    --color-main-black: #141414;
    --color-main-gray: #e4e4e4;
    --color-main-neutral: #fffcf7;

    /* 
        sm	40rem (640px)	@media (width >= 40rem) { ... }
        md	48rem (768px)	@media (width >= 48rem) { ... }
        lg	64rem (1024px)	@media (width >= 64rem) { ... }
        xl	80rem (1280px)	@media (width >= 80rem) { ... }
        2xl	96rem (1536px)	@media (width >= 96rem) { ... }
        3xl 112rem (1792px)
        4xl 135rem (2148px)
    */
    --breakpoint-3xl: 112rem;
    --breakpoint-4xl: 135rem;

    --ease-power4: cubic-bezier(0.05, 0.52, 0, 1);
    --ease-back: cubic-bezier(0.81, 0.56, 0.54, 1.36);

    --aspect-3\/2: 3 / 2;
    --aspect-4\/3: 4 / 3;
    --aspect-16\/9: 16 / 9;
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentcolor);
    }
    body {
        min-height: 100vh;
        transition:
            color 0.5s,
            background-color 0.5s;
        line-height: 1.6;
        font-size: 15px;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    h1 {
        @apply text-4xl font-bold xl:text-7xl;
    }
    h2 {
        @apply text-3xl font-bold xl:text-6xl;
    }
    h3 {
        @apply text-2xl font-bold xl:text-4xl;
    }
    h4 {
        @apply text-xl font-bold xl:text-2xl;
    }
    h5 {
        @apply text-lg xl:text-xl;
    }
    h6 {
        @apply text-base;
    }
    main {
        @apply px-0;
    }
    a {
        @apply cursor-pointer;
    }
    input,
    textarea {
        @apply mt-2 mb-5 block w-full appearance-none rounded-lg border border-gray-200 bg-white px-2 py-1 text-base leading-normal text-gray-800;
    }
    canvas {
        @apply aspect-auto overflow-clip;
    }
    img {
        @apply overflow-clip;
    }
}

@layer components {
    #icon_collapse {
        width: 30px;
        height: 30px;
        transition: all 0.2s;
    }
    .works-black {
        background: linear-gradient(transparent, rgba(0, 0, 0, 0.75));
    }
}

@utility icon-social {
    @apply hover:fill-main-orange transition duration-200 hover:scale-110;
}

@utility line-btn {
    @apply d-flex-center group-hover:bg-main-neutral border-main-neutral rounded-full border-4 bg-transparent duration-200 group-hover:-translate-y-3 md:me-5;
}

@utility d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* lazy load */
@utility lazy {
    &.loaded {
        opacity: 1;
        transition: all 0.5s;
    }
    opacity: 0;
}

/* lazy load */
@utility loaded {
    &.lazy {
        opacity: 1;
        transition: all 0.5s;
    }
}

::-webkit-scrollbar {
    background: 0 0;
    width: 0.25rem;
}
::-webkit-scrollbar-track {
    background: hsla(0, 0%, 100%, 0.1);
}
::-webkit-scrollbar-thumb {
    background: var(--color-main-orange);
    border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
    background: #ffad76;
}
