@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Type */
@layer base {
  h1 {
    @apply xl:text-7xl text-4xl font-bold;
  }
  h2 {
    @apply xl:text-6xl text-3xl font-bold;
  }
  h3 {
    @apply xl:text-4xl text-2xl font-bold;
  }
  h4 {
    @apply xl:text-2xl text-xl font-bold;
  }
  h5 {
    @apply xl:text-xl text-lg;
  }
  h6 {
    @apply text-base;
  }
  main{
    @apply px-0;
  }
  input, textarea {
    @apply block appearance-none w-full py-1 px-2 mt-2 mb-5 text-base leading-normal bg-white text-gray-800 border border-gray-200 rounded-lg
  }
  canvas {
    @apply aspect-auto overflow-clip;
  }
  img {
    @apply overflow-clip;
  }
}

@layer components {
  .index-btn{
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background-color: hsla(0, 0%, 95.3%, 0.25);
    min-width: 15vh;
    box-shadow: none;
    border: 1px;
    color: #FFF;
  }
  .index-btn:hover{
    background-color: hsla(0, 0%, 95.3%, 0.6);
    color: #000;
  }
  /**/
  .card {
    overflow : hidden;
  }

  .d-flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* lazy load */
  .lazy.loaded{
    opacity: 1;
    transition: all 0.5s;
  }
  .lazy{
    opacity: 0;
  }
  /* icon */
  #icon_social{
    transition: all 0.2s;
  }
  #icon_social:hover{
    transform: scale(1.1);
    fill: var(--main-color);
  }
}


/*--------------- Works Block ----------------  */

/* mobile setting */
@media only screen and (max-width: 1024px) {
  .works-destop-title{
    display: none;
  }
}
/* desktop setting */
@media only screen and (min-width: 1025px) {
  .work-mobile-title{
    display: none;
  }
  /* Hover*/
  .card:hover .works-destop-title {
    bottom: 1.25rem;
    opacity: 1;
  }
  .card:hover .works-black {
    height: 70%;
    opacity: 1;
  }
  /* .card:hover .card-img {
    transform: scale(1.1);
  }  */
}
.works-black, .works-destop-title{
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0;
}
.works-destop-title{
  transition: .4s ease;
}
.works-black{
  background: linear-gradient( transparent, rgba(0, 0, 0, 0.75));
  overflow: hidden;
  height: 20%; 
  transition: .6s ease;
}
.card-img{
	width: 102.5%;
	height: 102.5%;
}

/*------------ svg icon --------*/
#icon_collapse {
  width: 30px;
  height: 30px;
  transition: all 0.2s;
}

/* ::-webkit-scrollbar{
  display:none
} */
::-webkit-scrollbar{
  background:0 0;
  width: 0.25rem;
}
::-webkit-scrollbar-track{
  background:hsla(0,0%,100%,.1)
}
::-webkit-scrollbar-thumb{
  background: var(--main-color);
  border-radius:8px;
}
::-webkit-scrollbar-thumb:hover{
  background:#ffad76
}