// Custom.scss

// Smartphone
//    iphone 12 : 390
// Tablets: 
//    ipad pro : 1024
// laptop :  1025 - 1440
//    mbpro : 1440
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1500px, //1140
  xxl: 2000px //1320
);
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1025px, //992
  xl: 1440px, //1200
  xxl: 1800px //1400
);

// WorkPage card
$card-border-radius:          0;
$card-box-shadow:             null;
$card-bg:                     0;
$card-border-width:           0;

$thumbnail-bg:                none;

//Color
$orange:                    #ff6a21;
$primary:                     $orange;

//Spacer
$spacer:                      1rem;

$spacers: (
  0:    0,
  1:    $spacer * .25,
  2:    $spacer * .5,
  3:    $spacer,
  4:    $spacer * 1.5,
  5:    $spacer * 3,
  6:    $spacer * 4.5, //Custom
);
// Font
$font-size-base:              1rem;

/* Default */
$h1-font-size:                $font-size-base * 5; //2.5
$h2-font-size:                $font-size-base * 3.5; //2
$h3-font-size:                $font-size-base * 2; //1.75
$h4-font-size:                $font-size-base * 1.5;
$h5-font-size:                $font-size-base * 1.25;
$h6-font-size:                $font-size-base;


/* Mobile Iphone 12 (sm) */
@media screen and (max-width: 540px) {
  $h1-font-size:              $font-size-base * 1.5 ;
  $h2-font-size:              $font-size-base * 1.2 ; //2
  $h3-font-size:              $font-size-base * 1 ;
  $h4-font-size:              $font-size-base * 0.9;
  $h5-font-size:              $font-size-base * 0.8;
  $h6-font-size:              $font-size-base * 0.7;
}

/* Mobile ipad (sm-md) */
@media screen and (min-width: 541px) and (max-width: 720px) {
  $h1-font-size:              $font-size-base * 2.5 !important;
  $h2-font-size:              $font-size-base * 1.8;
  $h3-font-size:              $font-size-base * 1.5;
  $h4-font-size:              $font-size-base * 1.25;
  $h5-font-size:              $font-size-base * 1;
  $h6-font-size:              $font-size-base * 0.75;
}

@import "../node_modules/bootstrap/scss/bootstrap";